<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr>
  <!--Cuadro de busqueda-->
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar( $event )"
        buscarPor="Buscar capital...">
      </app-pais-input>
    </div>
  </div>
</div>



<hr>

<!--Mensaje de alerta-->
<div
  *ngIf="hayError"
  class="alert alert-danger"
  >
  No se encontro nada con el término {{termino}}
</div>

<!--Respuesta de la busqueda-->
<div
  *ngIf="paises.length > 0"
  class="row"
  >
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>


